{% extends 'base.html' %}

{% block content %}    

    <br>
    <center>
    
    <h1>Hello, World!</h1>
    {% if select_option %}
    <h3>Would you like to <a href="{% url 'caesar' %}?conversion=encrypt">encrypt</a> a plaintext message?</h3>

    <h3>Or would you like <a href="{% url 'caesar' %}?conversion=decrypt">to decrypt</a> a scrambled message?</h3>
    {% elif conv_encrypt %}
    <form action="{% url 'caesar' %}" >
        Enter the text you wish to scramble here:
        <br>
        <input type="text" name="original_entry" />
        <br />
        Enter your key:
        <br>
        <input type="number" name="shift_num" />
        <br />
        <input type="submit" value="Encrypt!" />
      </form>
    </form>
    {% elif conv_decrypt %}
    <form action="{% url 'caesar' %}" >
        Enter the text you wish to unscramble here:
        <br>
        <input type="text" name="original_entry" />
        <br />
        Enter your key:
        <br>
        <input type="number" name="shift_num" />
        <br />
        <input type="submit" value="Decrypt!" />
      </form>
    {% elif result_encrypt %}
    
    <h3>Here is your message encrypted:</h3>

    <div class="field"> {{ output_text }} </div>

    <br>
    <a href="{% url 'caesar' %}"><div class="field"> <strong> Again? Click here! </strong> </div> </a>

  {% elif result_decrypt %}
    <h3>Here is your message decrypted:</h3>
    
    <div class="field"> {{ output_text }} </div>
   
    <br>
    <a href="{% url 'caesar' %}"><div class="field"> <strong> Again? Click here! </strong> </div> </a>

  {% endif %}


</center>
{% endblock %}